.filters-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.title-bar {
	font-size: 20px;
	font-weight: bolder;
	width: 100%;
}

.filters-container div {
	padding: 5px;
	justify-content: center;
	text-align: center;
}

.env-container {
	margin-bottom: 5px;
}

.env-container div{
	margin-bottom: 5px;
	align-items: center;
	display: flex;
	justify-content: left;
	margin-left: 50px;
}

.env-container * {
	margin: 5px;
}

.subject-container * {
	margin: 5px;
	padding: 7px;
}

.submit-filters button{
	background-color: #c8b6ff;
	color: white;
	border: 1px solid #c8b6ff;
	padding: 10px;
	margin-bottom: 20px;
	text-decoration: none;
}

.submit-filters button:hover {
	color: white;
	background-color: rgb(187, 208, 255);
	border: 1px solid rgb(187, 208, 255);
}

.filters-container-form-floating{
	width: 300px;
	margin-left: 20px;
	align-items: center;
	text-align: center;
	display:flex;
	justify-content: center;
}
