.Buddy {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.profile {
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: left;
	margin: 20px;
	padding: 10px;
	padding-bottom: 20px;
}

.profile img {
	width: 100px;
	height: 100px;
	border-radius: 1000px;
	object-fit: cover;
	border: 3px solid #ffd6ff;
	margin-right: 10px;
	border-radius: 100px;
}

.mydetails {
	margin-top: 20px;
}

.btn_chatsend {
	margin-left: 5px;
	margin-right: 5px;
}

.Post-info {
	margin-bottom: 15px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.Description {
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 10px;
	background-color: #bbd0ff;
}

.custom-comments {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.form-floating.custom {
	margin-right: 10px;
	max-width: fit-content;
}

.Comments {
	margin-bottom: 5px;
	margin-top: 30px;
}

.usercomment {
	border-radius: 5px;
	padding-left: 5px;
	background-color: #c1c8ff;
	display: flex;
	flex-direction: column;
	color:Black;
	margin-bottom: 5px;
	margin-left: 2px;
}

.usercomment p {
	color:rgb(43, 41, 41);
}

.usercomment h5 {
	color:black;
	font-style: bold;
	font-size: large;
}

.usercomment h7 {
	color:rgb(84, 83, 83);
	font-size: 12px;
}

.commentheader {
	display: flex;
	flex-direction: row;
	color:blue;
	justify-content: space-between;
	text-align: left;
}

.MessageBuddy {
	margin-bottom: 5px;
	text-align: right;
}

.MessageBuddy a {
	padding: 5px;
	border-radius: 10px;
	padding-inline: 10px;
	color: white;
	background-color: #c8b6ff;
}

.DeletePost {
	margin-bottom: 5px;
	text-align: right;
}

.DeletePost a {
	padding: 5px;
	border-radius: 10px;
	padding-inline: 10px;
	color: white;
	background-color: #c8b6ff;
}

.post_subject {
	background-color: #c1c8ff;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

.Post_time {
	display: flex;
	flex-direction: row;
	color:blue;
	justify-content: space-between;
}

.Post_time p{
	color: black;
	border-radius: 8px;
}


.myspinner{
	/* display: flex;
	justify-content: center; */
	margin-top: 150px;
}